@import 'tailwindcss';
@import 'tw-animate-css';

*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}


ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@theme inline {
  --color-radial-gradient: var(--radial-gradient);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  --radial-gradient: #ffc40b;
}
